


    <div class='col-12 position-relative feature-article'>
      <div class='position-absolute bottom-0 imgg start-50'>
        <%= feature.title %>
      </div>
      <%= image_tag feature.image_url, class:'imgg mg-fluid'  %>
    </div>

