// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.imgg {
  width: 100%;
  height: 100%;
}

.feature-article {
  max-height: 320px;
}

.img1 {
  height: 230px;
}