.article-content:nth-child(3) .article-text {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.article-content:nth-child(4) .article-text {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}
