<div class='container my-5'>

  <div class='row col-6 mx-auto my-5 p-5 bg-light'>
    <%= form_with model: @category do |f| %>
      <div class=' mx-3'>
        Create your category:))
        <%= f.text_field :name,placeholder:'name', class:'form-control my-3' %>
      </div>
      <%= f.submit :create, class:'mx-3 text-center' %> 
    <% end %>
    <%= link_to 'Back', root_path, class:'btn btn-secondary w-25 mx-3 my-3' %>
  </div>
</div>