<div class='container-fluid position-relative '>
  <div class=' row bg-dark text-light d-flex flex-column flex-sm-row'>

    <div class='col-12 col-md-3 text-center my-4'>
      <%= link_to 'MoVieTiMe', root_path, class:'fs-2 text-decoration-none link-light' %>
    </div>

    <div class='col-12 col-md-6  d-flex flex-column flex-md-row my-lg-4'>
      <span class='main-color m-3 text-center'>Privacy Policy & Conditions </span>
      <div class='m-3 text-center'> Copyright 2021. All rights reserved </div>
    </div>

    <div class='col-12 col-md-3 text-center d-flex flex-column flex-lg-row my-md-2 my-lg-4'>
      <div class='my-lg-4'>
      Connect with us:
      </div>
      <ul class='d-flex list-unstyled m-2 justify-content-center'>
        <a href='https://twitter.com/AriKari86036498'><li class='m-2 fs-4 main-color'><i class="fab fa-twitter-square"></i></li></a>
        <a href='https://www.linkedin.com/in/ari-karim/'><li class='m-2 fs-4 main-color'><i class="fab fa-linkedin"></i></li></a>
        <a href='https://github.com/arikarim'><li class='m-2 fs-4 main-color'><i class="fab fa-github"></i></li></a>
      </ul>
    </div>

  </div>
</div>