<div class='container-fluid position-fixed bottom-0'>
  <div class='row bg-dark text-light'>

    <div class='col-3'>
      <%= link_to 'MoVieTiMe', root_path, class:'fs-2 text-decoration-none link-light' %>
    </div>

    <div class='col-6'>
      <p class='m-3'><span class='main-color'>Privacy Policy & Conditions </span>  Copyright 2021. All rights reserved </p>
    </div>

    <div class='col-3 d-flex '>
      <div class='my-3'>
      Connect with us:
      </div>
      <ul class='d-flex list-unstyled m-2'>
        <li class='m-2 fs-5'><i class="fab fa-twitter-square"></i></li>
        <li class='m-2 fs-5'><i class="fab fa-instagram"></i></li>
        <li class='m-2 fs-5'><i class="fab fa-facebook-square"></i></li>
      </ul>
    </div>

  </div>
</div>