<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class='col-3'>
      <%= link_to 'liFEsTYle', root_path, class:'fs-2 link-dark text-decoration-none' %>
    </div>

    <div class= 'col-5 mx-auto'>
      <%= link_to 'Home', root_path, class: 'text-decoration-none link-dark fs-4' %>
    </div>
    <div class="col-3 ">
      <ul class="navbar-nav ">
        <%= user_sessions %>
      </ul>
    </div>
  </div>
</nav>