<nav class="navbar m-0  navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class='col-3'>
      <%= link_to 'MoVieTiMe', root_path, class:'main-color fw-bolder fs-2 link-dark text-decoration-none' %>
    </div>

    <div class='col-5 d-none d-lg-flex mx-auto'>
        <ul class='list-unstyled d-flex my-lg-2'>
          <%= nav_cates(@nav_categories) %>
        </ul>
    </div>
    <div class="col-8 col-lg-4 d-flex justify-content-end">
      <ul class="navbar-nav text-end">
        <%= user_sessions %>
      </ul>
    </div>
  </div>
</nav>